@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background: #fafafa;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay.active {
  opacity: 1;
  z-index: 10;
}

.header {
  padding: 20px 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo {
  margin-right: 50px;
}

.header .container .toggle-button {
  display: none;
  cursor: pointer;
}

.header .container .nav {
  width: 100%;
}

.header .container .nav > ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .nav > ul .close-button {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.header .container .nav > ul .lists,
.header .container .nav > ul .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header .container .nav > ul .lists > li svg,
.header .container .nav > ul .register > li svg {
  margin-left: 4px;
}

.header .container .nav > ul .lists > li:hover,
.header .container .nav > ul .register > li:hover {
  color: #141414;
}

.header .container .nav > ul .lists li,
.header .container .nav > ul .register li {
  position: relative;
  list-style: none;
  font-size: 15px;
  color: dimgray;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container .nav > ul .lists li .left,
.header .container .nav > ul .register li .left {
  left: 0 !important;
}

.header .container .nav > ul .lists li ul,
.header .container .nav > ul .register li ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  cursor: default !important;
  -webkit-box-shadow: 0 0 10px #e6e6e6;
          box-shadow: 0 0 10px #e6e6e6;
  display: none;
}

.header .container .nav > ul .lists li ul.active,
.header .container .nav > ul .register li ul.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .nav > ul .lists li ul li a,
.header .container .nav > ul .register li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .nav > ul .lists li ul li a svg,
.header .container .nav > ul .register li ul li a svg {
  width: 20px;
}

.header .container .nav > ul .lists li ul li a p,
.header .container .nav > ul .register li ul li a p {
  margin-left: 10px;
}

.header .container .nav > ul .lists li a,
.header .container .nav > ul .register li a {
  text-decoration: none;
  color: dimgray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .container .nav > ul .lists li a:hover,
.header .container .nav > ul .register li a:hover {
  color: #141414;
}

.header .container .nav > ul .register li:last-of-type a {
  padding: 10px;
  border: 1px solid dimgray;
  border-radius: 10px;
}

.header .container .nav > ul .register li:last-of-type a:hover {
  border: 1px solid #141414;
}

.slider {
  position: relative;
  margin: 70px auto 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  z-index: 1;
}

.slider .image-box {
  width: 40%;
}

.slider .image-box img {
  width: 100%;
  max-height: 400px;
}

.slider .content {
  width: 50%;
}

.slider .content h1 {
  color: #141414;
  font-weight: 700;
  font-size: 5em;
}

.slider .content p {
  width: 85%;
  margin: 30px 0;
  line-height: 1.5;
  font-size: 18px;
  color: dimgray;
}

.slider .content a {
  display: inline-block;
  text-align: center;
  width: 150px;
  font-size: 15px;
  font-weight: 700;
  color: dimgray;
  padding: 10px;
  border: 1px solid dimgray;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider .content a:hover {
  color: #141414;
  border: 1px solid #141414;
}

@media (max-width: 767px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .toggle-button {
    display: block !important;
  }
  .header .nav {
    width: 50% !important;
    position: fixed;
    height: 100%;
    background: #fff;
    top: 0;
    right: -50%;
    z-index: 99999;
    overflow: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .nav.active {
    right: 0;
  }
  .header .nav .close-button {
    display: block !important;
  }
  .header .nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    padding: 70px 20px 0;
  }
  .header .nav > ul li ul {
    width: 100% !important;
    position: static !important;
    margin-top: 10px;
    background: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .header .nav > ul li ul li {
    border-bottom: 1px solid dimgray;
  }
  .header .nav > ul li ul li a {
    padding-bottom: 10px;
  }
  .header .nav > ul > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav > ul .register {
    text-align: center;
  }
  .header .nav > ul .register li a {
    display: inline-block;
    width: 100%;
  }
  .slider {
    width: 100% !important;
    margin: 30px 0 !important;
  }
  .slider .image-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .slider .content {
    padding: 0 15px;
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .slider .content h1 {
    font-size: 40px;
  }
  .slider .content p {
    width: 100% !important;
  }
  .slider .image-box,
  .slider .content {
    width: 100% !important;
  }
}

@media (min-width: 767px) {
  .overlay {
    opacity: 0;
  }
  .overlay.active {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */